<div class="container">
    <div class="first-grid-row">
        <h1>Unos novog pregleda</h1>
    </div>
    <form action="" id="add-form" (ngSubmit)="onSubmit()" #form="ngForm">
        <!-- <label for="date" class="add-label">Datum posete
            <input type="date" class="add-person" ngModel name="date" onfokus="isTouched()" onfocusout="leaveInputfield()" required>
            <br>
            <div class="clear"></div>
        </label>
        <label for="doctor" class="add-label">Lekar
            <input type="text" class="add-person" ngModel name="doctor" onfokus="isTouched()" onfocusout="leaveInputfield()" required>
            <br>
            <div class="clear"></div>
        </label>
        <label for="patient" class="add-label">Pacijent
            <input type="text" class="add-person" ngModel name="patient" onfokus="isTouched()" onfocusout="leaveInputfield()" required>
            <br>
            <div class="clear"></div>
        </label>
        <label for="diagnose" class="add-label">Opis dijagnoze: 
            <textarea class="txt-area" name="diagnose" rows="20" [(ngModel)]="diagnose" onfokus="isTouched()" onfocusout="leaveInputfield()" required></textarea>
        </label>
        <br>
        <div class="clear"></div>
        <div class="form-button">
            <button class="button-style" click="onBack()">Nazad na preglede</button>
        </div>
        <div class="form-button">
            <button class="button-style" type="submit" [disabled]="form.invalid">Unos</button>
        </div> -->
    </form>
</div>