<div>
  <nav class='navbar'>
      <!-- <div class='nav-container'> -->
        <ul class='nav'>
          <li><a [routerLink]="['/home']">Home</a></li>
          <li><a [routerLink]="['/patient-list']">Lista pacijenata</a></li>
          <li><a [routerLink]="['/doctor-list']">Lista stomatologa</a></li>
          <li><a [routerLink]="['/visit-list']">Lista pregleda</a></li>
        </ul>
        <ul class="admin">
          <li><a [routerLink]="['/signup']">Registruj se</a></li>
          <li><a [routerLink]="['/login']">Uloguj se</a></li>
          <li><a [routerLink]="['/home']" (click)="logout()">Izloguj se</a></li>
        </ul>
      <!-- </div> -->
  </nav>
  <!-- <div class='"wrapper d-flex flex-column'>
    <app-navbar></app-navbar>
    <div class="flex-fill"> -->
  <router-outlet></router-outlet>
    <!-- </div>
  </div> -->
</div>

