<div class="container">
  <div class="first-grid-row">
    <h1>Registracija</h1>
    <form id="signup-form" #signupForm="ngForm">
      <!-- Name -->
      <div class="clear"></div>
      <label for="name" class="signup-label">Ime i prezime</label>
      <input type="text" class="signup" id="name" [(ngModel)]="user.name" name="name" minlength="3" placeholder="Vase ime" #name="ngModel" autofocus required>
      <div [hidden]="!name.invalid || !name.touched"  class="invalid-feedback">
        <span id="nameHelpBlock">Ime je obavezno i mora imati najmanje 3 karaktera.</span>
      </div>
      <!-- Email -->
      <div class="clear"></div>
      <label for="email" class="signup-label">Email
        <input type="email" class="signup" id="email" [(ngModel)]="user.email" name="email" #email="ngModel" email required>
      </label>
      <div [hidden]="!email.invalid || !email.touched" class="invalid-feedback">
        <span id="emailHelpBlock">Email je obavezan. Unesite validan email.</span>
      </div>
      <!-- Password -->
      <div class="clear"></div>
      <label for="password" class="signup-label">Lozinka
        <input type="password" class="signup" id="password" [(ngModel)]="user.password" name="password" minlength="6" #password="ngModel" required [appEqualStrings]="confirmPassword" [isReverseField]="true">
      </label><br>
      <div [hidden]="!password.invalid || !password.touched" class="invalid-feedback">
        <span id="passwordHelpBlock">Lozinka je obavezna i mora imati najmanje 6 karaktera.</span>
      </div>
      <!-- Confirm password -->
      <div class="clear"></div>
      <label for="confirmPassword" class="signup-label">Potvrda lozinke
        <input type="password" class="signup" id="confirmPassword" ngModel name="confirmPassword" minlength="6" placeholder="Ponovite lozinku" #confirmPassword="ngModel" required [appEqualStrings]="password">
      </label><br>
      <div [hidden]="!confirmPassword.invalid" class="invalid-feedback">
        <span id="confirmPasswordHelpBlock">Lozinke nisu identične. Ponovite lozinku.</span>
      </div>
      <div class="clear"></div>
      <!-- Submit -->
      <div class="buttons buttons-form">
        <div class="form-buttton">
          <button (click)="onSubmit()" class="button-style" type="submit" [disabled]="signupForm.invalid">Registruj se</button>
        </div>
        <!-- Sign In with Google -->
        <button class="button-style" (click)="googleSignup()">Registruj se preko Gugla</button>
      </div>
    </form>
  </div>
</div>
